<h1>Demande d'adhésion refusée</h1>

<p>Votre demande d'adhésion a été refusée pour le mail <%= @email %>.</p>
<p>
  Si vous souhaitez contester cette décision, envoyez un mail à <%= mail_to AdminUser::Email %>.
</p>
