<h3 class="text-center">Faire une demande d'adhésion</h3>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <%= simple_form_for @registration_membership, method: :post do |f| %>
        <%= f.input :email, placeholder: 'Votre email', wrapper_html: { class: "col-xs-4" }, input_html: { class: "col-xs-8" } %>
        <%= button_tag(type: 'submit', class: 'btn btn-danger') do %>
          <%= fa_icon "server", class: 'mx-2', size: '2x' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
