<h1>Nouvelle demande d'adhésion</h1>
<p>
  Vous avez reçu une nouvelle demande d'adhésion de la part de <%= @email %>.
</p>
<p>
  <%= link_to batcave_registration_memberships_url do %>
    Filtrer les demandes.
  <% end %>
</p>
